* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.links-wrapper > .nav-link {
  width: 70px;
  text-align: center;
}

.links-wrapper > .nav-link a {
  font-family: Ubuntu Condensed, sans-serif;
  color: #cbcbcb;
  text-decoration: none;
  transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
  color: #cea135;
  letter-spacing: 2px;
}
